In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_highest-grossing_films"
response = requests.get(url)
status = BeautifulSoup(response.content, "html.parser")
output =status.find("table", class_="wikitable")
description = status.find("caption").text.replace("\n","").replace("[12]","")
description

<caption>Highest-grossing films<sup class="reference" id="cite_ref-12"><a href="#cite_note-12"><span class="cite-bracket">[</span>12<span class="cite-bracket">]</span></a></sup>
</caption>

In [ ]:
headers = []
for x in output.find_all("tr"):
    for i in x.find_all("th"):
        tex_t = i.text.replace("\n","").strip()
        headers.append(tex_t)
df = pd.DataFrame(columns=headers)
df

Empty DataFrame
Columns: [Rank, Peak, Title, Worldwide gross, Year, Ref, Avatar, Avengers: Endgame, Avatar: The Way of Water, Titanic, Star Wars: The Force Awakens, Avengers: Infinity War, Spider-Man: No Way Home, Inside Out 2 †, Jurassic World, The Lion King, The Avengers, Furious 7, Top Gun: Maverick, Frozen II, Barbie, Avengers: Age of Ultron, The Super Mario Bros. Movie, Black Panther, Harry Potter and the Deathly Hallows – Part 2, Deadpool & Wolverine, Star Wars: The Last Jedi, Jurassic World: Fallen Kingdom, Frozen, Beauty and the Beast, Incredibles 2, The Fate of the Furious, Iron Man 3, Minions, Captain America: Civil War, Aquaman, The Lord of the Rings: The Return of the King, Spider-Man: Far From Home, Captain Marvel, Transformers: Dark of the Moon, Skyfall, Transformers: Age of Extinction, The Dark Knight Rises, Joker, Star Wars: The Rise of Skywalker, Toy Story 4, Toy Story 3, Pirates of the Caribbean: Dead Man's Chest, Rogue One: A Star Wars Story, Aladdin, Star Wars: Episode I – The Phantom Menace, Pirates of the Caribbean: On Stranger Tides, Jurassic Park, Moana 2 †, Despicable Me 3, Finding Dory]
Index: []

[0 rows x 56 columns]

In [46]:
drop_columns = df.columns[6:57]
drops = df.drop(columns=drop_columns)
drops
df = pd.DataFrame(columns=drops.columns)
df

Empty DataFrame
Columns: [Rank, Peak, Title, Worldwide gross, Year, Ref]
Index: []

In [93]:
tbody = output.find("tbody")
data_list = []

for tr in tbody.find_all("tr"):
    row_data = []
    for td in tr.find_all("td"):
        row_data.append(td.text.replace("\n", ""))
    for td in tr.find_all("td", class_="data-sort-value"):
        row_data.append(td.text)
    for td in tr.find_all("i"):
        row_data.append(td.text)
    data_list.append(row_data)
data_list

[[],
 ['1', '1', '$2,923,706,026', '2009', '[# 1][# 2]', 'Avatar'],
 ['2', '1', '$2,797,501,328', '2019', '[# 3][# 4]', 'Avengers: Endgame'],
 ['3',
  '3',
  '$2,320,250,281',
  '2022',
  '[# 5][# 6]',
  'Avatar: The Way of Water'],
 ['4', '1', 'T$2,257,844,554', '1997', '[# 7][# 8]', 'Titanic'],
 ['5',
  '3',
  '$2,068,223,624',
  '2015',
  '[# 9][# 10]',
  'Star Wars: The Force Awakens'],
 ['6',
  '4',
  '$2,048,359,754',
  '2018',
  '[# 11][# 12]',
  'Avengers: Infinity War'],
 ['7',
  '6',
  '$1,922,598,800',
  '2021',
  '[# 13][# 14]',
  'Spider-Man: No Way Home'],
 ['8', '8', '$1,698,863,816', '2024', '[# 15][# 16]', 'Inside Out 2'],
 ['9', '3', '$1,671,537,444', '2015', '[# 17][# 18]', 'Jurassic World'],
 ['10', '7', '$1,656,943,394', '2019', '[# 19][# 4]', 'The Lion King'],
 ['11', '3', '$1,518,815,515', '2012', '[# 20][# 21]', 'The Avengers'],
 ['12', '4', '$1,515,341,399', '2015', '[# 22][# 23]', 'Furious 7'],
 ['13', '11', '$1,495,696,292', '2022', '[# 24][# 25]', 'Top Gun: Maverick'],
 ['14', '10', '$1,450,026,933', '2019', '[# 26][# 27]', 'Frozen II'],
 ['15', '14', '$1,447,038,421', '2023', '[# 28][# 29]', 'Barbie'],
 ['16',
  '5',
  '$1,402,809,540',
  '2015',
  '[# 30][# 23]',
  'Avengers: Age of Ultron'],
 ['17',
  '15',
  '$1,362,566,989',
  '2023',
  '[# 31][# 32]',
  'The Super Mario Bros. Movie'],
 ['18', '9', '$1,347,280,838', '2018', '[# 33][# 34]', 'Black Panther'],
 ['19',
  '3',
  '$1,342,139,727',
  '2011',
  '[# 35][# 36]',
  'Harry Potter and the Deathly Hallows – Part 2'],
 ['20',
  '20',
  '$1,338,073,645',
  '2024',
  '[# 37][# 38]',
  'Deadpool & Wolverine'],
 ['21',
  '9',
  '$1,332,539,889',
  '2017',
  '[# 39][# 40]',
  'Star Wars: The Last Jedi'],
 ['22',
  '12',
  '$1,308,473,425',
  '2018',
  '[# 41][# 12]',
  'Jurassic World: Fallen Kingdom'],
 ['23', '5', 'F$1,290,000,000', '2013', '[# 42][# 43]', 'Frozen'],
 ['24',
  '10',
  '$1,263,521,126',
  '2017',
  '[# 44][# 45]',
  'Beauty and the Beast'],
 ['25', '15', '$1,242,805,359', '2018', '[# 46][# 12]', 'Incredibles 2'],
 ['26',
  '11',
  'F8$1,238,764,765',
  '2017',
  '[# 47][# 45]',
  'The Fate of the Furious'],
 ['27', '5', '$1,214,811,252', '2013', '[# 48][# 49]', 'Iron Man 3'],
 ['28', '10', '$1,159,444,662', '2015', '[# 50][# 18]', 'Minions'],
 ['29',
  '12',
  '$1,153,337,496',
  '2016',
  '[# 51][# 52]',
  'Captain America: Civil War'],
 ['30', '20', '$1,148,528,393', '2018', '[# 53][# 12]', 'Aquaman'],
 ['31',
  '2',
  '$1,147,997,407',
  '2003',
  '[# 54][# 55]',
  'The Lord of the Rings: The Return of the King'],
 ['32',
  '24RK',
  '$1,132,679,685',
  '2019',
  '[# 56][# 4]',
  'Spider-Man: Far From Home'],
 ['33', '23RK', '$1,128,274,794', '2019', '[# 57][# 58]', 'Captain Marvel'],
 ['34',
  '5RK',
  '$1,123,794,079',
  '2011',
  '[# 59][# 36]',
  'Transformers: Dark of the Moon'],
 ['35', '7', '$1,108,594,137', '2012', '[# 60][# 61]', 'Skyfall'],
 ['36',
  '10',
  '$1,104,054,072',
  '2014',
  '[# 62][# 63]',
  'Transformers: Age of Extinction'],
 ['37',
  '7',
  '$1,081,169,825',
  '2012',
  '[# 64][# 65]',
  'The Dark Knight Rises'],
 ['38', '31', '$1,074,458,282', '2019', '[# 66][# 27]', 'Joker'],
 ['39',
  '32',
  '$1,074,144,248',
  '2019',
  '[# 67][# 27]',
  'Star Wars: The Rise of Skywalker'],
 ['40', '30', '$1,073,394,593', '2019', '[# 68][# 4]', 'Toy Story 4'],
 ['41', '4TS3', '$1,066,970,811', '2010', '[# 69][# 70]', 'Toy Story 3'],
 ['42',
  '3',
  '$1,066,179,747',
  '2006',
  '[# 71][# 72]',
  "Pirates of the Caribbean: Dead Man's Chest"],
 ['43',
  '20',
  '$1,057,420,387',
  '2016',
  '[# 73][# 74]',
  'Rogue One: A Star Wars Story'],
 ['44', '34', '$1,050,693,953', '2019', '[# 75][# 4]', 'Aladdin'],
 ['45',
  '2',
  '$1,046,515,409',
  '1999',
  '[# 76][# 8]',
  'Star Wars: Episode I – The Phantom Menace'],
 ['46',
  '6',
  '$1,045,713,802',
  '2011',
  '[# 77][# 70]',
  'Pirates of the Caribbean: On Stranger Tides'],
 ['47', '1', '$1,037,535,230', '1993', '[# 78][# 79]', 'Jurassic Park'],
 ['48', '48', '$1,037,337,901', '2024', '[# 80]', 'Moana 2'],
 ['49', '24', '$1,034,800,131', '2017', '[# 81][# 45]', 'Despicable Me 3'],
 ['50', '22', '$1,028,570,942', '2016', '[# 82][# 83]', 'Finding Dory']]

In [95]:
data_list.pop(0)
data_list

[['1', '1', '$2,923,706,026', '2009', '[# 1][# 2]', 'Avatar'],
 ['2', '1', '$2,797,501,328', '2019', '[# 3][# 4]', 'Avengers: Endgame'],
 ['3',
  '3',
  '$2,320,250,281',
  '2022',
  '[# 5][# 6]',
  'Avatar: The Way of Water'],
 ['4', '1', 'T$2,257,844,554', '1997', '[# 7][# 8]', 'Titanic'],
 ['5',
  '3',
  '$2,068,223,624',
  '2015',
  '[# 9][# 10]',
  'Star Wars: The Force Awakens'],
 ['6',
  '4',
  '$2,048,359,754',
  '2018',
  '[# 11][# 12]',
  'Avengers: Infinity War'],
 ['7',
  '6',
  '$1,922,598,800',
  '2021',
  '[# 13][# 14]',
  'Spider-Man: No Way Home'],
 ['8', '8', '$1,698,863,816', '2024', '[# 15][# 16]', 'Inside Out 2'],
 ['9', '3', '$1,671,537,444', '2015', '[# 17][# 18]', 'Jurassic World'],
 ['10', '7', '$1,656,943,394', '2019', '[# 19][# 4]', 'The Lion King'],
 ['11', '3', '$1,518,815,515', '2012', '[# 20][# 21]', 'The Avengers'],
 ['12', '4', '$1,515,341,399', '2015', '[# 22][# 23]', 'Furious 7'],
 ['13', '11', '$1,495,696,292', '2022', '[# 24][# 25]', 'Top Gun: Maverick'],
 ['14', '10', '$1,450,026,933', '2019', '[# 26][# 27]', 'Frozen II'],
 ['15', '14', '$1,447,038,421', '2023', '[# 28][# 29]', 'Barbie'],
 ['16',
  '5',
  '$1,402,809,540',
  '2015',
  '[# 30][# 23]',
  'Avengers: Age of Ultron'],
 ['17',
  '15',
  '$1,362,566,989',
  '2023',
  '[# 31][# 32]',
  'The Super Mario Bros. Movie'],
 ['18', '9', '$1,347,280,838', '2018', '[# 33][# 34]', 'Black Panther'],
 ['19',
  '3',
  '$1,342,139,727',
  '2011',
  '[# 35][# 36]',
  'Harry Potter and the Deathly Hallows – Part 2'],
 ['20',
  '20',
  '$1,338,073,645',
  '2024',
  '[# 37][# 38]',
  'Deadpool & Wolverine'],
 ['21',
  '9',
  '$1,332,539,889',
  '2017',
  '[# 39][# 40]',
  'Star Wars: The Last Jedi'],
 ['22',
  '12',
  '$1,308,473,425',
  '2018',
  '[# 41][# 12]',
  'Jurassic World: Fallen Kingdom'],
 ['23', '5', 'F$1,290,000,000', '2013', '[# 42][# 43]', 'Frozen'],
 ['24',
  '10',
  '$1,263,521,126',
  '2017',
  '[# 44][# 45]',
  'Beauty and the Beast'],
 ['25', '15', '$1,242,805,359', '2018', '[# 46][# 12]', 'Incredibles 2'],
 ['26',
  '11',
  'F8$1,238,764,765',
  '2017',
  '[# 47][# 45]',
  'The Fate of the Furious'],
 ['27', '5', '$1,214,811,252', '2013', '[# 48][# 49]', 'Iron Man 3'],
 ['28', '10', '$1,159,444,662', '2015', '[# 50][# 18]', 'Minions'],
 ['29',
  '12',
  '$1,153,337,496',
  '2016',
  '[# 51][# 52]',
  'Captain America: Civil War'],
 ['30', '20', '$1,148,528,393', '2018', '[# 53][# 12]', 'Aquaman'],
 ['31',
  '2',
  '$1,147,997,407',
  '2003',
  '[# 54][# 55]',
  'The Lord of the Rings: The Return of the King'],
 ['32',
  '24RK',
  '$1,132,679,685',
  '2019',
  '[# 56][# 4]',
  'Spider-Man: Far From Home'],
 ['33', '23RK', '$1,128,274,794', '2019', '[# 57][# 58]', 'Captain Marvel'],
 ['34',
  '5RK',
  '$1,123,794,079',
  '2011',
  '[# 59][# 36]',
  'Transformers: Dark of the Moon'],
 ['35', '7', '$1,108,594,137', '2012', '[# 60][# 61]', 'Skyfall'],
 ['36',
  '10',
  '$1,104,054,072',
  '2014',
  '[# 62][# 63]',
  'Transformers: Age of Extinction'],
 ['37',
  '7',
  '$1,081,169,825',
  '2012',
  '[# 64][# 65]',
  'The Dark Knight Rises'],
 ['38', '31', '$1,074,458,282', '2019', '[# 66][# 27]', 'Joker'],
 ['39',
  '32',
  '$1,074,144,248',
  '2019',
  '[# 67][# 27]',
  'Star Wars: The Rise of Skywalker'],
 ['40', '30', '$1,073,394,593', '2019', '[# 68][# 4]', 'Toy Story 4'],
 ['41', '4TS3', '$1,066,970,811', '2010', '[# 69][# 70]', 'Toy Story 3'],
 ['42',
  '3',
  '$1,066,179,747',
  '2006',
  '[# 71][# 72]',
  "Pirates of the Caribbean: Dead Man's Chest"],
 ['43',
  '20',
  '$1,057,420,387',
  '2016',
  '[# 73][# 74]',
  'Rogue One: A Star Wars Story'],
 ['44', '34', '$1,050,693,953', '2019', '[# 75][# 4]', 'Aladdin'],
 ['45',
  '2',
  '$1,046,515,409',
  '1999',
  '[# 76][# 8]',
  'Star Wars: Episode I – The Phantom Menace'],
 ['46',
  '6',
  '$1,045,713,802',
  '2011',
  '[# 77][# 70]',
  'Pirates of the Caribbean: On Stranger Tides'],
 ['47', '1', '$1,037,535,230', '1993', '[# 78][# 79]', 'Jurassic Park'],
 ['48', '48', '$1,037,337,901', '2024', '[# 80]', 'Moana 2'],
 ['49', '24', '$1,034,800,131', '2017', '[# 81][# 45]', 'Despicable Me 3'],
 ['50', '22', '$1,028,570,942', '2016', '[# 82][# 83]', 'Finding Dory']]

In [96]:
newframe = pd.DataFrame(data_list, columns=drops.columns)
newframe

,Rank,Peak,Title,Worldwide gross,Year,Ref
0,1,1,"$2,923,706,026",2009,[# 1][# 2],Avatar
1,2,1,"$2,797,501,328",2019,[# 3][# 4],Avengers: Endgame
2,3,3,"$2,320,250,281",2022,[# 5][# 6],Avatar: The Way of Water
3,4,1,"T$2,257,844,554",1997,[# 7][# 8],Titanic
4,5,3,"$2,068,223,624",2015,[# 9][# 10],Star Wars: The Force Awakens
5,6,4,"$2,048,359,754",2018,[# 11][# 12],Avengers: Infinity War
6,7,6,"$1,922,598,800",2021,[# 13][# 14],Spider-Man: No Way Home
7,8,8,"$1,698,863,816",2024,[# 15][# 16],Inside Out 2
8,9,3,"$1,671,537,444",2015,[# 17][# 18],Jurassic World
9,10,7,"$1,656,943,394",2019,[# 19][# 4],The Lion King
10,11,3,"$1,518,815,515",2012,[# 20][# 21],The Avengers
11,12,4,"$1,515,341,399",2015,[# 22][# 23],Furious 7
12,13,11,"$1,495,696,292",2022,[# 24][# 25],Top Gun: Maverick
13,14,10,"$1,450,026,933",2019,[# 26][# 27],Frozen II
14,15,14,"$1,447,038,421",2023,[# 28][# 29],Barbie
15,16,5,"$1,402,809,540",2015,[# 30][# 23],Avengers: Age of Ultron
16,17,15,"$1,362,566,989",2023,[# 31][# 32],The Super Mario Bros. Movie
17,18,9,"$1,347,280,838",2018,[# 33][# 34],Black Panther
18,19,3,"$1,342,139,727",2011,[# 35][# 36],Harry Potter and the Deathly Hallows – Part 2
19,20,20,"$1,338,073,645",2024,[# 37][# 38],Deadpool & Wolverine
20,21,9,"$1,332,539,889",2017,[# 39][# 40],Star Wars: The Last Jedi
21,22,12,"$1,308,473,425",2018,[# 41][# 12],Jurassic World: Fallen Kingdom
22,23,5,"F$1,290,000,000",2013,[# 42][# 43],Frozen
23,24,10,"$1,263,521,126",2017,[# 44][# 45],Beauty and the Beast
24,25,15,"$1,242,805,359",2018,[# 46][# 12],Incredibles 2
25,26,11,"F8$1,238,764,765",2017,[# 47][# 45],The Fate of the Furious
26,27,5,"$1,214,811,252",2013,[# 48][# 49],Iron Man 3
27,28,10,"$1,159,444,662",2015,[# 50][# 18],Minions
28,29,12,"$1,153,337,496",2016,[# 51][# 52],Captain America: Civil War
29,30,20,"$1,148,528,393",2018,[# 53][# 12],Aquaman
30,31,2,"$1,147,997,407",2003,[# 54][# 55],The Lord of the Rings: The Return of the King
31,32,24RK,"$1,132,679,685",2019,[# 56][# 4],Spider-Man: Far From Home
32,33,23RK,"$1,128,274,794",2019,[# 57][# 58],Captain Marvel
33,34,5RK,"$1,123,794,079",2011,[# 59][# 36],Transformers: Dark of the Moon
34,35,7,"$1,108,594,137",2012,[# 60][# 61],Skyfall
35,36,10,"$1,104,054,072",2014,[# 62][# 63],Transformers: Age of Extinction
36,37,7,"$1,081,169,825",2012,[# 64][# 65],The Dark Knight Rises
37,38,31,"$1,074,458,282",2019,[# 66][# 27],Joker
38,39,32,"$1,074,144,248",2019,[# 67][# 27],Star Wars: The Rise of Skywalker
39,40,30,"$1,073,394,593",2019,[# 68][# 4],Toy Story 4
40,41,4TS3,"$1,066,970,811",2010,[# 69][# 70],Toy Story 3
41,42,3,"$1,066,179,747",2006,[# 71][# 72],Pirates of the Caribbean: Dead Man's Chest
42,43,20,"$1,057,420,387",2016,[# 73][# 74],Rogue One: A Star Wars Story
43,44,34,"$1,050,693,953",2019,[# 75][# 4],Aladdin
44,45,2,"$1,046,515,409",1999,[# 76][# 8],Star Wars: Episode I – The Phantom Menace
45,46,6,"$1,045,713,802",2011,[# 77][# 70],Pirates of the Caribbean: On Stranger Tides
46,47,1,"$1,037,535,230",1993,[# 78][# 79],Jurassic Park
47,48,48,"$1,037,337,901",2024,[# 80],Moana 2
48,49,24,"$1,034,800,131",2017,[# 81][# 45],Despicable Me 3
49,50,22,"$1,028,570,942",2016,[# 82][# 83],Finding Dory

In [ ]:
data= newframe.rename(columns={"Ref": "Title","Worldwide gross" :"Year","Title":"Worldwide gross","Year":"Ref"})
data

,Rank,Peak,Worldwide gross,Year,Ref,Title
0,1,1,"$2,923,706,026",2009,[# 1][# 2],Avatar
1,2,1,"$2,797,501,328",2019,[# 3][# 4],Avengers: Endgame
2,3,3,"$2,320,250,281",2022,[# 5][# 6],Avatar: The Way of Water
3,4,1,"T$2,257,844,554",1997,[# 7][# 8],Titanic
4,5,3,"$2,068,223,624",2015,[# 9][# 10],Star Wars: The Force Awakens
5,6,4,"$2,048,359,754",2018,[# 11][# 12],Avengers: Infinity War
6,7,6,"$1,922,598,800",2021,[# 13][# 14],Spider-Man: No Way Home
7,8,8,"$1,698,863,816",2024,[# 15][# 16],Inside Out 2
8,9,3,"$1,671,537,444",2015,[# 17][# 18],Jurassic World
9,10,7,"$1,656,943,394",2019,[# 19][# 4],The Lion King
10,11,3,"$1,518,815,515",2012,[# 20][# 21],The Avengers
11,12,4,"$1,515,341,399",2015,[# 22][# 23],Furious 7
12,13,11,"$1,495,696,292",2022,[# 24][# 25],Top Gun: Maverick
13,14,10,"$1,450,026,933",2019,[# 26][# 27],Frozen II
14,15,14,"$1,447,038,421",2023,[# 28][# 29],Barbie
15,16,5,"$1,402,809,540",2015,[# 30][# 23],Avengers: Age of Ultron
16,17,15,"$1,362,566,989",2023,[# 31][# 32],The Super Mario Bros. Movie
17,18,9,"$1,347,280,838",2018,[# 33][# 34],Black Panther
18,19,3,"$1,342,139,727",2011,[# 35][# 36],Harry Potter and the Deathly Hallows – Part 2
19,20,20,"$1,338,073,645",2024,[# 37][# 38],Deadpool & Wolverine
20,21,9,"$1,332,539,889",2017,[# 39][# 40],Star Wars: The Last Jedi
21,22,12,"$1,308,473,425",2018,[# 41][# 12],Jurassic World: Fallen Kingdom
22,23,5,"F$1,290,000,000",2013,[# 42][# 43],Frozen
23,24,10,"$1,263,521,126",2017,[# 44][# 45],Beauty and the Beast
24,25,15,"$1,242,805,359",2018,[# 46][# 12],Incredibles 2
25,26,11,"F8$1,238,764,765",2017,[# 47][# 45],The Fate of the Furious
26,27,5,"$1,214,811,252",2013,[# 48][# 49],Iron Man 3
27,28,10,"$1,159,444,662",2015,[# 50][# 18],Minions
28,29,12,"$1,153,337,496",2016,[# 51][# 52],Captain America: Civil War
29,30,20,"$1,148,528,393",2018,[# 53][# 12],Aquaman
30,31,2,"$1,147,997,407",2003,[# 54][# 55],The Lord of the Rings: The Return of the King
31,32,24RK,"$1,132,679,685",2019,[# 56][# 4],Spider-Man: Far From Home
32,33,23RK,"$1,128,274,794",2019,[# 57][# 58],Captain Marvel
33,34,5RK,"$1,123,794,079",2011,[# 59][# 36],Transformers: Dark of the Moon
34,35,7,"$1,108,594,137",2012,[# 60][# 61],Skyfall
35,36,10,"$1,104,054,072",2014,[# 62][# 63],Transformers: Age of Extinction
36,37,7,"$1,081,169,825",2012,[# 64][# 65],The Dark Knight Rises
37,38,31,"$1,074,458,282",2019,[# 66][# 27],Joker
38,39,32,"$1,074,144,248",2019,[# 67][# 27],Star Wars: The Rise of Skywalker
39,40,30,"$1,073,394,593",2019,[# 68][# 4],Toy Story 4
40,41,4TS3,"$1,066,970,811",2010,[# 69][# 70],Toy Story 3
41,42,3,"$1,066,179,747",2006,[# 71][# 72],Pirates of the Caribbean: Dead Man's Chest
42,43,20,"$1,057,420,387",2016,[# 73][# 74],Rogue One: A Star Wars Story
43,44,34,"$1,050,693,953",2019,[# 75][# 4],Aladdin
44,45,2,"$1,046,515,409",1999,[# 76][# 8],Star Wars: Episode I – The Phantom Menace
45,46,6,"$1,045,713,802",2011,[# 77][# 70],Pirates of the Caribbean: On Stranger Tides
46,47,1,"$1,037,535,230",1993,[# 78][# 79],Jurassic Park
47,48,48,"$1,037,337,901",2024,[# 80],Moana 2
48,49,24,"$1,034,800,131",2017,[# 81][# 45],Despicable Me 3
49,50,22,"$1,028,570,942",2016,[# 82][# 83],Finding Dory